@media screen and (min-width: 5100px) {
  .margin-center {
    transform: translateX(12vw);
  }
}

@media screen and (min-width: 3100px) {
  .margin-center {
    transform: translateX(8vw);
  }
}

@media screen and (min-width: 2550px) {
  .margin-center {
    transform: translateX(6vw);
  }
}